<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.trosnoth.serveradmin"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="auto">

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:label="@string/app_name"
            android:name=".MainMenuActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Select a game:" android:name=".GameSelectorActivity"></activity>
        <activity android:name=".GameStateActivity" android:label="@string/menu_title"></activity>
        <activity android:name=".ScreenSelectorActivity" android:label="@string/menu_title"></activity>
        <activity android:name=".PlayerActivity" android:label="@string/menu_title"></activity>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>