<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2012 Samuel Horn
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.trosnoth.serveradmin"
    android:versionCode="1"
    android:versionName="0.1 Pre-Alpha" android:installLocation="auto">

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name_short" android:theme="@style/Theme.Trosnoth" android:name=".TrosnothApplication">
        <activity
            android:label="@string/app_name_short"
            android:name=".ConnectionActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name_long" android:name=".DashboardActivity"></activity>
        <activity android:label="@string/activity_game_selector" android:name=".GameSelectorActivity"></activity>
        <activity android:label="@string/activity_game_state" android:name=".GameStateActivity"></activity>
        <activity android:label="@string/activity_players" android:name=".PlayerActivity"></activity>
        <activity android:label="@string/activity_upgrades" android:name=".UpgradeActivity"></activity>
        <activity android:label="@string/activity_server_settings" android:name=".ServerSettingsActivity"></activity>
        <activity android:label="@string/app_name_long" android:name=".InformationActivity"></activity>
        
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
